grpc:
  server:
    port: 9090
    enable-reflection: true
spring:
  application:
    name: grpc-service
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
